@font-face {
  font-family: mono;
  src: url("fonts/SourceCodePro-Regular.ttf");
}

:root {
  --background-color: rgb(36, 41, 46);
  --border-color: rgba(255, 255, 255, 0.1);
  --inactive-background-color: rgb(27, 30, 34);
}

* {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

main > article {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.experience-section,
.projects-section,
.skills-section,
.education-section {
  padding-left: 25px;
}

main > article > .education-section,
main > article > .projects-section {
  border-left: 1px solid var(--border-color);
}

main > article > .education-section,
main > article > .skills-section {
  border-top: 1px solid var(--border-color);
}

main > article .section-title {
  font-size: 2rem;
  color: #fc2500;
}

.experience-section a,
.projects-section a,
.education-section a {
  color: #fc2500;
}

.experience-section a:hover,
.projects-section a:hover,
.education-section a:hover {
  text-decoration: underline;
}

.skill-sections-programming,
.skill-sections-tools {
  display: flex;
  align-items: center;
}

.skill-sections-programming > p,
.skill-sections-tools > p {
  padding-left: 10px;
}

.skill-sections-tools,
.skill-sections-education {
  position: absolute;
}
